%h1 Organisations

%table.table.table-bordered.table-striped.table-hover
  %colgroup
    %col.name
    %col.button
    %col.button
    %col.button
  %tr
    %th Name
    %th
    %th
    %th

  - @organisations.each do |organisation|
    %tr
      %td= link_to organisation.name, organisation
      %td= link_to 'Show', organisation, class: "btn"
      %td= link_to 'Edit', edit_organisation_path(organisation), class: "btn"
      %td= link_to 'Destroy', organisation, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"

%br

= link_to 'New Organisation', new_organisation_path
