%p#notice= notice
%h1= @organisation.name

%h3
  = "Sites"

- unless @sites.blank?
  %table.table.table-stripped.table-bordered
    - @sites.each do |site|
      %tr
        %td= link_to site.name, organisation_site_path(@organisation, site)
- else
  %p.lead
    You haven't created a site yet. A site is a grouping of locations, think of "1st floor", "beer garden", "dining room" ...

  %p
    = link_to "Create site", new_organisation_site_path(@organisation), class: "btn btn-primary"

= link_to 'Edit', edit_organisation_path(@organisation)
\|
= link_to 'Back', organisations_path
