%h1 Listing requests

%table
  %tr
    %th Place
    %th Type
    %th
    %th
    %th

  - @requests.each do |request|
    %tr
      %td= request.place
      %td= request.type
      %td= link_to 'Show', request
      %td= link_to 'Edit', edit_request_path(request)
      %td= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Request', new_request_path
