%h1 Listing feedbacks

%table
  %tr
    %th Place
    %th Subject
    %th Content
    %th Email
    %th Phone
    %th
    %th
    %th

  - @feedbacks.each do |feedback|
    %tr
      %td= feedback.place
      %td= feedback.subject
      %td= feedback.content
      %td= feedback.email
      %td= feedback.phone
      %td= link_to 'Show', feedback
      %td= link_to 'Edit', edit_feedback_path(feedback)
      %td= link_to 'Destroy', feedback, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Feedback', new_feedback_path
