%h1
  = @site.name
%p.lead
  = @site.description
  
- unless @places.blank?
  %table.table.table-bordered.table-striped.table-hover
    %colgroup
      %col.name
      %col.button
      %col.button
    %tr
      %th Name
      %th
      %th
    - @places.each do |place|
      %tr
        %td= link_to place.name, site_place_path(@site, place)
        %td= link_to 'Edit', edit_site_place_path(@site, place), class: "btn"
        %td= link_to 'Destroy', site_place_path(@site, place), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn"

- else
  %p.lead
    You haven't created a place yet. A place could be a table in a restaurant or wherever you place your NFC tag.

%p
  = link_to "Create place", new_site_place_path(@site), class: "btn btn-primary"

= link_to 'Edit', edit_organisation_site_path(@organisation, @site)
\|
= link_to 'Back', [@organisation, @site]
