%h1
  Listing places for
  = @site.name

%table
  %tr
    %th Name
    %th Description
    %th
    %th
    %th

  - @places.each do |place|
    %tr
      %td= place.name
      %td= place.description
      %td= link_to 'Show', [@site, place]
      %td= link_to 'Edit', edit_site_place_path(@site, place)
      %td= link_to 'Destroy', [@site, place], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Place', new_site_place_path(@site)
